/* Make the chooseOption select and its dropdown rounded */
#chooseOption {
	border-radius: 0.5rem;
	overflow: hidden;
}
/* Move the button with id 'button' to the right side of the screen */
#button {
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 1000;
}
